<div th:fragment="products">
  <h1 class="text-danger" th:text="${exception}"></h1>
  Products:

  <div th:each="prod : ${products}">
    <div th:text="${prod.name}"></div>
    <div th:text="${prod.description}"></div>
    <a href="/index?categoryId=3" th:text="${prod.category.name}">
    </a>
    <hr/>
  </div>
  <hr/>

</div>

<div th:fragment="addCategory">
  <div th:replace="fragments/addCategoryForm"></div>
</div>

<div th:fragment="addProduct">
  <div th:replace="fragments/addProductForm"></div>
</div>